@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --color-icon: #b2b2b2;
  --social-icon1: rgb(31, 30, 30);
  --social-icon2: #218715;
  --social-icon3: #0077B5;
}

@font-face {
  font-family: Minecraftia;
  src: url(/font/Minecraftia.ttf);
}


/*Footer*/

.mainfooter {
  width: 100%;
  height: auto;
  position: relative;
  padding: 30px 0;
  margin-top: 23rem;
}

.footer {
  position: relative;
  color: #b2b2b2;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.footer .container {
  justify-content: center;
  align-items: flex-start;
}

.footer h2 {
  font-size: 22px;
  padding-bottom: 20px;
  color: #fff;
  font-family: Minecraftia;
}

.footer-about p {
  font-family: Minecraftia;
  font-size: 12px;
  text-align: justify;
}

.footer ul {
  list-style: none;
  line-height: 30px;
  font-size: 16px;
}

.footer ul li {
  cursor: pointer;
}

.footer-about {
  width: 35%;
}

.iconosb {
  position: relative;
  width: 20%;
  height: 23vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.icon-list {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: inline-flex;
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: var(--social-icon1);
}

.icon-item:nth-child(2) a:hover:before {
  background: var(--social-icon2);
}

.icon-item:nth-child(3) a:hover:before {
  background: var(--social-icon3);
}

/* Copyright */

.copyright {
  text-align: center;
  margin-top: 25px;
}

.copyright p {
  margin: 0;
  font-family: Minecraftia;
  font-size: 12px;
}

.copyright span {
  font-family: Minecraftia;
  width: 6%;
  display: inline-block;
  padding: 2px;
  font-size: 12px;
  z-index: 2;
  color: white;
  background-color: #ac1a39;
  border: 0px solid #252426;
  text-shadow: black 0.1em 0.1em 0.1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 6px #56000d;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.copyright span:hover {
  background-color: #622d49;
  box-shadow: 0 6px #47122e;
}

.sentence {
  font-family: Minecraftia;
  color: #c6e2dc;
  text-shadow: 3px 3px #465640;
}

/* Copyright */
